
    <footer>
    <br/>
    <br/>
        <h3>CST336 Internet Programming.</h3> <br/>
        <details>
        <summary>Summary</summary>
            Solar System image from <a href="https://pixabay.com/illustrations/solar-system-planets-space-earth-1018038/">https://pixabay.com/illustrations/solar-system-planets-space-earth-1018038/</a><br>
        </details>
        2019&copy; Kevin Bentley<br/>
        <strong>Disclaimer</strong> This information is only for academic purposes. The information herein may not be accurate.
            <br/>
            <br/>
            <img src="img/otter-small.jpg" alt="Otter Logo" />
    </footer>
</body>

</html>